<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^\.env$ - [F,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/index.php [QSA,L]
</IfModule>

<FilesMatch "(\.env|\.git)">
    Order allow,deny
    Deny from all
</FilesMatch>
